body {
    color:black;
    background:pink;
    margin: 2px;
    font-family: "Playfair Display", serif;
}

header{
    border-bottom:solid 2px black;
padding: 20px;
font-size: 32px;
color:black;

}
section{
    display: flex;
} 

h1{
 font-size: 26px;   
p{
   font-size: 18px;
}